<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>RubyLearning</string>
	<key>uuid</key>
	<string>1670F8D1-5527-444D-8735-3DB086B6CDB6</string>
</dict>
</plist>
